.App {
  font-family: sans-serif;
}

.fade-in-item {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-item.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  height: 200px;
  background: cadetblue;
  overflow-y: auto;
  width: 500px;
  align-items: center;
}

.msg {
  height: 30px;
  min-height: 30px;
  background: beige;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 5px;
}

.message-container {
  padding: 10px;
  background-color: darkcyan;
  width: fit-content;
  border-radius: 4px;
}

.controls {
  background-color: darkcyan;
  display: flex;
  height: auto;
  width: 500px;
  border-radius: 4px;
  margin: 10px;
  padding: 10px 0;
  justify-content: space-around;
}

.header {
  text-align: center;
  color: white;
  padding: 10px 0;
}
